._title-header{
    color: #333333 !important;
    background-color: #f5f5f5 !important;
    border-color: #dddddd !important;
    padding: 10px 15px !important;
    border-bottom: 1px solid transparent !important;
    border-top-right-radius: 3px !important;
    border-top-left-radius: 3px !important;
}