.sub-form-contratos-renegociacao{
  width: 100%;
}
.new-item{
  background-color: #f4f4f4 !important;
}

.btn-add {
    cursor: pointer;
    color: #009bb4c7;
  }
  
  .btn-del {
    cursor: pointer;
    color: rgba(217, 13, 22, 0.72);
  }

.hint-minimo{
  font-size: small !important;
  font-weight: bold;
 /* color: rgba(217, 13, 22, 0.72) !important;*/
}


