@mixin core-widget-theme($theme) {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    core-widget {

        > .core-widget-front,
        > .core-widget-back {
            background: map-get($background, card);
        }
    }
}
