.contrato-header-image {
    background-image: url(~/assets/images/caixa/icons/full-folder-128.jpg);
    background-size: cover;
}
.invisible{
    display: block;
    visibility: hidden;
    height: 0;
    width: 0;
}
