<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="onCloseModal.next('')" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" corePerfectScrollbar>

    <!-- REACTIVE FORM EXAMPLE -->

    <form class="mat-white-bg mr-24 ml-24 mb-4 mt-4" [ngClass]='state =="view" ? "viewer" : "edit"'
          fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form" [formGroup]="formGroup">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field>
                <mat-label>CPF</mat-label>
                <input id="cpf" name="cpf" formControlName="cpf" matInput [readonly]="state ==='view'" type="text"
                       required mask="000.000.000-00">
            </mat-form-field>
        </div>

        <mat-tab-group dynamicHeight>

        <mat-tab label="Endereço">
            <div class="box mt-8 ml-8 mr-8 mat-elevation-z4">
                <div class="mb-24 mt-8 ml-8" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                    xxxxxxxxxxxxxxxxxxxxxx
                </div>
            </div>

        </mat-tab>
        <mat-tab label="Contato">
            <div class="box mt-8 ml-8 mr-8 mat-elevation-z4">
                <div class="mb-24 mt-8 ml-8" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
                    <sub-form-input-list formControlName="emailsFormFields"
                                         [title]="'E-mails'" [itemControlAlias]="'emails'"
                                         [label]="'E-mail'" [maxlength]="100" [required]="true"
                                         [type]="'email'">
                    </sub-form-input-list>

                    <sub-form-input-list formControlName="telefonesFormFields"
                                         [title]="'Telefones'" [itemControlAlias]="'emails'"
                                         [label]="'Telefone'" [maxlength]="100" [required]="true"
                                         [type]="'tel'" fxLayoutAlign="start center">
                    </sub-form-input-list>
                </div>
            </div>
        </mat-tab>
        </mat-tab-group>

        <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="start">
            <button id="btnEnviar" *ngIf="state !=='view'"
                    mat-raised-button
                    (click)="sendDataOperation('create')"
                    class="mat-accent btn m-4"
                    [disabled]="formGroup.invalid">
                Pesquisar
            </button>
            <button id="btnLimpar"
                    mat-raised-button
                    (click)="formGroup.reset()"
                    [disabled]=""
                    class="btn m-4">
                Limpar
            </button>
            <button id="btnVoltar"
                    mat-raised-button
                    (click)="router.navigate([''])"
                    class="btn m-4 btnVoltar">
                Voltar
            </button>
            <button id="btnSair"
                    mat-raised-button
                    class="btn m-4">
                Sair
            </button>

        </div>

    </form>
</div>
</div>
